body{
    background: white;
    margin: 0%;
    font-family: 'Dancing Script', cursive;
    /* font-family: 'Merriweather', serif; */
    color: #40514E;
}
h1{
    margin: 0%;
    font-size: 50px;
    color: #66BFBF;
    line-height: 60px;
    text-align: center;
}

h2{
    margin-bottom: 5px;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    text-align: center;
}

a{
    margin: 10px 20px;
    color: #11999E;
    text-decoration: none;
}

a:hover{
    color: white;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0%;
    line-height: 2;
}

hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 50%;
    margin: 50px auto;
}


.container-top{
    position: relative;
    background: #bdece7;
    padding-top: 50px;
}

.top-cloud{
    position: absolute;
    right: 200px;
    top: 50px;
}

.mountain{
    margin-left: 450px;
}

.btm-cloud{
    position: absolute;
    left: 200px;
    bottom: 200px;
}

.center{
    text-align: center;
}
.profile-div{
    padding: 20px 250px 20px 250px;
}
.profile{
    height:200px; 
    width:200px;
    margin-left: 200px;
}

.experience{
    height:150px; 
    width:150px;
    margin-left: 30px;
    padding:10px;
    float: left;
}

.exp{
   padding: 30px 20px 30px 20px;
    background-color:lightgrey;
}

.table-margin{
    margin-left: 50px;
}

.table-center{
    margin-left: 500px;
}

.email{
    text-align: center;
    padding: 20px;
}

.footer{
    background: #aad8d3;
    text-align: center;
    padding: 5px 0px 20px;
}

.copywrite{
    color: white;
    font-size: 0.75rem;
    padding: 20px 0;
}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #1E62D0);
    background-image: -moz-linear-gradient(top, #11CDD4, #1E62D0);
    background-image: -ms-linear-gradient(top, #11CDD4, #1E62D0);
    background-image: -o-linear-gradient(top, #11CDD4, #1E62D0);
    background-image: -webkit-gradient(to bottom, #11CDD4, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    font-weight: 50;
    padding: 10px 40px 10px 40px;
    -webkit-box-shadow: -11px -12px 30px 0 #0059A0;
    -moz-box-shadow: -11px -12px 30px 0 #0059A0;
    box-shadow: -11px -12px 40px 0 #0059A0;
    text-shadow: 1px 1px 10px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: outset #99C624 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }